/* stylelint-disable docusaurus/copyright-header */
/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.heroBanner a {
  color: #fff !important;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.container {
  margin: 0 40px;
  display: flex;
  width: 100%;
  margin: 0;
  flex-direction: column;
  padding: 10px 20px;
}
.header {
  font-weight: 600;
}
.h1 {
  align-self: center;
  padding: 10px;
}
@media screen and (min-width: 966px) {
  .h1 {
    margin-right: 30px;
    background: var(--ifm-color-primary);
    border-radius: 8px;
    box-shadow: -1px 1px var(--ifm-color-primary-dark),
      -1px 1px var(--ifm-color-primary-dark),
      -1px 1px var(--ifm-color-primary-dark),
      -2px 2px var(--ifm-color-primary-dark),
      -2px 2px var(--ifm-color-primary-dark);
  }
  .container {
    flex-direction: row;
  }
  .container img {
    height: 300px;
  }
}
.Ad {
  padding: 20px 10px;
  min-width: 300px;
  border: 1px solid #e7e7e7;
}
.AdSec {
  margin-top: 20px;
}
@media screen and (max-width: 966px) {
  .Ad {
    margin-bottom: 20px;
  }
  .AdSec {
    margin-top: 0;
  }
}
