/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/**
 * You can override the default Infima variables here.
 * Note: this is not a complete list of --ifm- variables.
 */
:root {
  --ifm-color-primary: #1d68e1;
  --ifm-color-primary-dark: #1a5ecb;
  --ifm-color-primary-darker: #1958bf;
  --ifm-color-primary-darkest: #14499d;
  --ifm-color-primary-light: #3377e5;
  --ifm-color-primary-lighter: #3e7ee6;
  --ifm-color-primary-lightest: #6095ea;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}